*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:sans-serif;



}

a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.active{
  border-bottom: 4px solid blue;
  box-shadow: 0 5px 5px -5px #333;
  
}